<a href="https://colab.research.google.com/github/vamshap/PySpark-Challenges/blob/main/RepeatNumbers.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.4)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

In [ ]:
from pyspark.sql import SparkSession
#print the n number n number of times ex 1 as 1 and 2 as 2 2 , 3 as 3 3 3 , 5 as 5 5 5 5 5
# Initialize Spark Session
spark = SparkSession.builder.appName("Print the Numbers with N number of times").getOrCreate()

# Create a DataFrame with initial values
data = [(1,), (2,), (3,), (4,), (5,)]
columns = ["number"]
numbers_df = spark.createDataFrame(data, columns)

# Add a new row to the DataFrame
new_data = [(9,)]
new_row_df = spark.createDataFrame(new_data, columns)

# Union the DataFrames to insert the new value
numbers_df = numbers_df.union(new_row_df)

# Show the resulting DataFrame
numbers_df.show()

for  row in numbers_df.collect():
  n = row["number"]
  for i in range(n):
    print(n)
    i = i + 1

+------+
|number|
+------+
|     1|
|     2|
|     3|
|     4|
|     5|
|     9|
+------+

1
2
2
3
3
3
4
4
4
4
5
5
5
5
5
9
9
9
9
9
9
9
9
9