<a href="https://colab.research.google.com/github/vamshap/PySpark-Challenges/blob/main/StudentMarks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, StringType, IntegerType
from pyspark.sql.functions import sum,row_number,col
from pyspark.sql.window import Window
#write a code to get the sum of top 2 subject marks for every student
# Initialize Spark Session
spark = SparkSession.builder.appName("StudentsTable").getOrCreate()

# Define the schema for the DataFrame
schema = StructType([
    StructField("sname", StringType(), True),
    StructField("sid", StringType(), True),
    StructField("marks", IntegerType(), True)
])

# Data to insert into the DataFrame
data = [
    ("A", "X", 75),
    ("A", "Y", 75),
    ("A", "Z", 80),
    ("B", "X", 90),
    ("B", "Y", 91),
    ("B", "Z", 75)
]

# Create the DataFrame
students_df = spark.createDataFrame(data, schema=schema)

# Show the DataFrame
students_df.show()
Window_Spec = Window.partitionBy(students_df["sname"]).orderBy(students_df["marks"].desc())
students_df1 = students_df.withColumn("lrow",row_number().over(Window_Spec))

student_marks = students_df1.filter(col("lrow") <=2)
student_marks.groupBy("sname").agg(sum("marks")).show()

+-----+---+-----+
|sname|sid|marks|
+-----+---+-----+
|    A|  X|   75|
|    A|  Y|   75|
|    A|  Z|   80|
|    B|  X|   90|
|    B|  Y|   91|
|    B|  Z|   75|
+-----+---+-----+

+-----+----------+
|sname|sum(marks)|
+-----+----------+
|    A|       155|
|    B|       181|
+-----+----------+